<div class="m-4">
  <button type="button" class="inline-block  px-6 py-2.5
  bg-emerald-600 text-emerald-50
  text-xs font-medium leading-tight rounded shadow-md mr-1"
  (click)="startTimer()">Start the timer</button>
  <button type="button" class="inline-block  px-6 py-2.5
  bg-emerald-600 text-emerald-50
  text-xs font-medium leading-tight rounded shadow-md mr-1"
  (click)="stopTimer()">Stop the timer</button>

  <button type="button" class="inline-block  px-6 py-2.5
  bg-red-600 text-emerald-50
  text-xs font-medium leading-tight rounded shadow-md mr-1"
  (click)="mutateDemoSubject()">Try to mutate an emitted object's value</button>

  <app-card [id]="1"></app-card>
  <app-card [id]="2"></app-card>
  <app-card [id]="3"></app-card>
</div>
